<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Insurance Policy Summary</title>
</head>
<body>
<h1>Insurance Policy Summary</h1>

#if($TBD_INSURANCE_PRODUCT)
<p><strong>Insurance Product:</strong> $TBD_INSURANCE_PRODUCT</p>
#end


#if($TBD_POLICY_NUMBER)
<p><strong>Policy Number:</strong> $TBD_POLICY_NUMBER</p>
#end


#if($TBD_POLICYHOLDER_NAME)
<p><strong>Policyholder:</strong> $TBD_POLICYHOLDER_NAME</p>
#end


#if($TBD_EFFECTIVE_START_DATE)
<p><strong>Effective Start Date:</strong> $TBD_EFFECTIVE_START_DATE</p>
#end

</body>
</html>